.admin-eliminar-comentarios {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.admin-content {
  flex: 1;
  margin-left: 20px;
  margin-top: 50px;
}

.table {
  width: 80%; /* Reduce el ancho total de la tabla */
  max-width: 1500px; /* Limita el ancho máximo para hacerla más pequeña */
  margin-top: 20px;
  margin-left: auto; /* Centrar la tabla horizontalmente */
  margin-right: auto; /* Centrar la tabla horizontalmente */
  font-size: 1.2rem; /* Reduce el tamaño del texto para hacerla más compacta */
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.admin-title {
  text-align: center;
  margin-bottom: 20px;
}

.admin-comment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.admin-comment-text {
  flex: 1;
  margin-right: 10px;
}

.icon-button {
  cursor: pointer;
}
