.comentarios-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  width: 100%;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.comentarios-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comentarios-title {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.comentarios-list {
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 340px);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.comentarios-list::-webkit-scrollbar {
  display: none; /* Chrome y Safari */
}

.comentario-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.comentario-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comentario-autor {
  font-weight: bold;
  color: #007bff;
}

.comentario-content {
  margin-top: 10px;
  color: #666;
  word-wrap: break-word; /* Asegura que el texto se ajuste al contenedor */
  overflow-wrap: break-word; /* Permite que las palabras largas se rompan */
  white-space: normal; /* Permite que el texto haga saltos de línea */
}


.eliminar-btn-container {
  text-align: right;
  margin-top: 10px;
}

.eliminar-btn {
  background-color: transparent;
  color: #e74c3c;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.eliminar-btn:hover {
  color: #c0392b;
}

.nuevo-comentario-fixed {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nuevo-comentario-input {
  margin-bottom: 10px;
}

.comentar-btn {
  background-color: #007bff;
  color: white;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.volver-btn {
  background-color: #6c757d;
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.volver-btn:hover {
  background-color: #5a6268;
}
