.gastos-comunes {
  display: flex;
  justify-content: flex-start; /* Alinear todo a la izquierda */
  align-items: flex-start; /* Asegurar que el contenido esté arriba y a la izquierda */
  padding: 0;
  margin: 0;
  background-color: #f8f9fa;
  width: 100%;
  padding-right: 100px;
  height: 100vh; /* Asegurar altura completa */
  overflow-y: auto; /* Forzar scroll vertical */
  overflow-x: auto; /* Forzar scroll horizontal */
  scrollbar-width: none; /* Ocultar barra en navegadores compatibles */
  padding-bottom: 50px;
}

.sidebar-and-table {
  display: flex;
  width: 100%;
  overflow-x: auto; /* Forzar scroll horizontal si es necesario */
}

.sidebar-and-table-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear todo el contenido hacia la izquierda */
  padding: 0;
  margin: 0;
  width: 100%; /* Asegurar que el contenido ocupe todo el ancho disponible */
  height: auto; /* Dejar que la altura se ajuste */
  overflow-x: auto; /* Habilitar scroll horizontal */
  scrollbar-width: none; /* Ocultar barra en navegadores compatibles */
}

.table-container {
  width: 100%;
  margin: 0; /* Eliminar cualquier margen */
  padding: 0; /* Eliminar cualquier padding */
  overflow-x: auto; /* Habilitar scroll horizontal */
  scrollbar-width: none; /* Ocultar barra */
}

.gastos-section {
  margin-bottom: 30px;
  padding: 0;
}
.gastos-section:last-child {
  margin-bottom: 50px; /* Espacio adicional solo para la última tabla */
}
.gastos-section h2 {
  font-size: 24px;
  margin: 0 0 15px 0; /* Asegurar márgenes limpios */
  color: #333;
  text-align: center; /* Mantener título centrado */
}

.gastos-table {
  width: 100%;
  border-collapse: collapse;
}

.gastos-table th,
.gastos-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.gastos-table th {
  background-color: #007bff;
  color: white;
}

.gastos-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Ocultar scroll en navegadores WebKit */
.gastos-comunes::-webkit-scrollbar,
.sidebar-and-table::-webkit-scrollbar,
.sidebar-and-table-content::-webkit-scrollbar,
.table-container::-webkit-scrollbar {
  display: none; /* Ocultar barra de scroll en navegadores basados en WebKit */
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .sidebar-and-table-content {
    align-items: flex-start;
    padding: 0;
  }

  .gastos-section {
    margin-bottom: 20px;
  }

  .gastos-section h2 {
    font-size: 20px;
  }

  .gastos-table th,
  .gastos-table td {
    padding: 8px;
  }
}
