/* Contenedor principal de la página */
.pagina-inicial {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por debajo del sidebar */
}

.content4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* Contenedor principal para las publicaciones */
.pagina-inicial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80%; /* Ajuste para ocupar más espacio */
  margin: 0 auto;
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  padding: 20px;
}

/* Tarjeta de publicación */
.pagina-inicial-card {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200%; 
  max-width: 1100px; /* Aumenta el ancho máximo */
  transition: box-shadow 0.3s ease;
  margin-right: 1000px;
}
.pagina-inicial-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.pagina-inicial-title {
  text-align: left;
}

/* Ajustes para la imagen dentro de la publicación */
.pagina-inicial-image {
  display: flex;
  justify-content: flex-start; /* Alinea la imagen a la izquierda */
  margin-top: 10px;
}

.pagina-inicial-image img {
  max-width: 50%; /* Ajusta el ancho si es necesario */
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
  margin-right: auto; /* Asegura que la imagen se quede a la izquierda */
}

/* Ajustes para la sección de usuario y comentarios */
.pagina-inicial-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.pagina-inicial-user-info {
  margin-left: 10px;
  flex-grow: 1;
}

.pagina-inicial-date {
  font-size: 0.9rem;
  color: #888;
}

.pagina-inicial-content {
  margin-top: 10px;
  text-align: left;
}

/* Botón para ver comentarios */
.ver-comentarios-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

/* Ajustes para el Sidebar */
.sidebar-sticky {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 10000;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.sidebar-sticky::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.pagina-inicial-image {
  display: flex; /* Para alinear el botón y la imagen en una fila */
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: flex-start; /* Alinea a la izquierda */
  margin-top: 10px;
}

.pagina-inicial-image img {
  max-width: auto; /* Ajusta el ancho de la imagen si es necesario */
  height: auto;
  margin-right: 10px; 
  border-radius: 8px;
}

.ver-imagen-boton {
  padding: 4px 8px; 
  font-size: 0.8rem; 
  height: 30px; 
  min-width: 120px; 
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ver-imagen-boton:hover {
  background-color: #007bff; 
  color: white;
  transform: translateX(-3px); 
}
