.vista-hacer-una-venta {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content2 {
  display: flex;
  flex: 1;
  position: relative;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.sidebar-sticky::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.main-panel {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: flex-start; /* Mueve el formulario hacia la izquierda */
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 68%;
  max-width: 900px;
  margin-left: 440px; /* Mueve el formulario hacia la izquierda */
  margin-top: 60px;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-form input,
.post-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.post-form button {
  padding: 10px;
  background-color: #1682FD;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-form button:hover {
  background-color: #0a5ac6;
}

.photo-preview {
  margin-top: 10px;
}

.photo-preview img {
  max-width: 100%;
  border-radius: 8px;
  max-height: 200px;
}

.mensaje-exito {
  color: green;
  margin-top: 15px;
  text-align: center;
}
