.vista-hacer-una-venta { 
  display: flex;
  height: 100vh;
}

.content2 {
  display: flex;
  flex: 1;
  overflow: hidden; /* Evita el scroll en la página completa */
}

.main-panel {
  flex: 1;
  padding: 30px;
  background-color: #f9f9f9;
  margin: 40px auto 0 auto;
  overflow-y: auto; /* Habilitar el scroll en esta sección */
  max-height: calc(100vh - 80px); /* Asegura que ocupe la altura de la ventana menos un margen */
}

.formulario-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinear el formulario al principio para que pueda scrollear */
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
}

.formulario-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo del formulario */
  margin: 0 auto;
  overflow-y: auto;
}

.formulario-venta {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-venta div {
  margin-bottom: 10px;
}

.formulario-venta label {
  display: block;
  margin-bottom: 5px;
}

.formulario-venta input,
.formulario-venta textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formulario-venta input[type="file"] {
  margin-top: 5px;
}

.formulario-venta button {
  padding: 10px;
  background-color: #1682FD;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario-venta button:hover {
  background-color: #0a5ac6;
}

.photo-preview {
  margin-top: 10px;
}

.photo-preview img {
  max-width: 100%;
  border-radius: 8px;
  max-height: 200px;
}

.mensaje-exito {
  color: green;
  margin-top: 15px;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto; /* Permitir el scroll en la página */
}
